<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Fresh" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Fresh" %>">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%# Modernizr is required for Zurb Foundation %>
    <%= javascript_include_tag 'vendor/modernizr' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    
    <!-- top bar navigation menu -->
    <div class="large-12 columns top-bar">
      <ul class="list-class">
        <li><h3><a href="/" class="list-class">HOME</a></h3></li>
        <li><h3><a href="/create" class="list-class">CREATE</a></h3></li>
        <li><h3><a href="/about" class="list-class">ABOUT</a></h3></li>
        <li><h3><a href="/contact" class="list-class">CONTACT</a></h3></li>
      </ul>  
    </div>

    <%= yield %>
  </body>
</html>
