<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Fresh" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Fresh" %>">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%# Modernizr is required for Zurb Foundation %>
    <%= javascript_include_tag 'vendor/modernizr' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    
  </head>
  <body>
    
    <!-- top bar navigation menu -->
    <div class="large-12 columns top-bar">
      <ul class="list-class">
        <li><h4><a href="/" class="list-class">HOME</a></h4></li>
        <li><h4><a href="/create" class="list-class">CREATE</a></h4></li>
        <li><h4><a href="/about" class="list-class">ABOUT</a></h4></li>
        <li><h4><a href="/contact" class="list-class">CONTACT</a></h4></li>
      </ul>  
    </div>

    <%= yield %>
    
    <div class="large-12 columns bottom-bar">
      <br>
      <p class="spaced text-small">
        fresh function app( );
        <span class="text-right"><a href="https://www.twitter.com/techtolentino">@techtolentino</a></span>
      </p>
    </div>

  </body>
</html>
